altair
anyio
appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
branca
brotlicffi
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
docopt
exceptiongroup
executing
fastjsonschema
filelock
firebase_admin
folium
fonttools
fsspec
git-filter-repo
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googlemaps
grpcio
grpcio-status
h11
h2
hpack
httpcore
httpx
hyperframe
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
msgpack
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
opencv-python-headless
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
polars
polyline
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
PyJWT
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
rsa
scipy
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-folium
sympy
tenacity
tinycss2
toml
torch
torchaudio
torchvision
tornado
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
webencodings
xyzservices
yarg
